<!DOCTYPE html>
<html>
<head>
    <title>Daftar Warga Kelurahan</title>
</head>
<body>
    <h1>Daftar Warga</h1>

    <!-- Link tambah warga baru -->
    <a href="{% url 'warga-tambah' %}">Tambah Warga Baru</a>
    <hr>

    <ul>
        {% for warga in object_list %}
            <li>
                <a href="{% url 'warga-detail' warga.pk %}">{{ warga.nama_lengkap }}</a> 
                - NIK: {{ warga.nik }}
            </li>
        {% empty %}
            <li>Belum ada data warga yang terdaftar.</li>
        {% endfor %}
    </ul>
</body>
</html>

<ul>
    {% for warga in object_list %}
        <li>
            {{ warga.nama_lengkap }} - NIK: {{ warga.nik }}
            [<a href="{% url 'warga-detail' warga.pk %}">Detail</a>]
            [<a href="{% url 'warga-edit' warga.pk %}">Edit</a>]
            [<a href="{% url 'warga-hapus' warga.pk %}">Hapus</a>]
        </li>
    {% empty %}
        <li>Belum ada data warga yang terdaftar.</li>
    {% endfor %}
</ul>
